.qc-wrap {
  padding: 12px 0;
  border-bottom: 1px solid #E8E8E8;
  .qc-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .profile-img {
      margin-right: 5px;
      img,
      .profile-img-1,
      .profile-img-2,
      .profile-img-3,
      .profile-img-0 {
        width: 32px;
        height: 32px;
      }
      .profile-img-0 {
        background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1618470409022.png');
        background-size: contain;
      }
      .profile-img-1 {
        background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1618470422428.png');
        background-size: contain;
      }
      .profile-img-2 {
        background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1618470440475.png');
        background-size: contain;
      }
      .profile-img-3 {
        background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1618470456681.png');
        background-size: contain;
      }
    }
    .profile-text {
      .user-nick {
        font-size: 12px;
      }
      .created-at {
        font-size: 10px;
        color: #BEBEBE;
      }
    }
  }
  .qc-body {
    .ck-editor__main {
      p {
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: box; 
        overflow:hidden; 
        vertical-align:top; 
        text-overflow: ellipsis; 
        word-break:break-all; 
        -webkit-box-orient:vertical; 
        -webkit-line-clamp:2;
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
    .non-pass {
      position: relative;
      .blind-img {
        width: 100%;
        filter: blur(5px);
      }
      .lock-img {
        width: 24px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .qc-footer {
    display: flex;
    justify-content: flex-end;
    .like {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .like-icon {
        color: #6D6D6D;
        margin-right: 4px;
        &:active {
          color: #EF0050;
          +p {
            color: #EF0050;
          }
        }
      }
    }
    .comment {
      display: flex;
      align-items: center;
      img {
        width: 14px;
        height: 16px;
        padding-top: 2px;
        margin-right: 4px;
      }
    }
    .more {
      font-size: 14px;
      color: #6D6D6D;
      &:active {
        color: #EF0050;
      }
    }
  }
}
.qc-answer-wrap {
  padding: 8px;
  border-bottom: 0px;
}
.wait-wrap {
  padding: 8px 0;
  .wait-btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EF0050;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }
}