@import "../../stylesheets/util";

.m-footer-wrap{
  background-color: #000;
  .m-footer-container{
    margin: 0 auto;
    padding: 42.34px 20px;
    width:100vw;
    //background-color: #ff00ff;

    .m-footer-upper-box {
      height: 105.64px;
      border-bottom: 1px solid #707070;
      //display: flex;
      //flex-direction: column;

      .m-footer-corp-box {
        min-width: 100%;

        .m-footer-corp-logo {
          img{
            width: 137.79px;
            height: 20.88px;
          }
        }

        .m-footer-corp-descr {
          margin-top: 12px;

          p {
            font-size: 14px;
            color: #BEBEBE;
          }
        }
      }      
    }

    .m-footer-middle-box {
      height: 372px;
      border-bottom: 1px solid #707070;
      //padding-top: 21px;
      //display: flex;
      //flex-direction: column;
      justify-content: space-between;
  

      .m-footer-site-map-box {
        //width: 88.9vw;
        //height: 100px;
        margin-top: 32px;
        box-sizing: border-box;
        

        p {
          font-size: 14px;
          color: #FFFFFF;
          margin-top: 16px;
        }

        .m-footer-site-map-header {
          margin-top: 0;
          font-size: 16px;
          font-weight: bold;
        }
      }

      
    }

    .m-footer-lower-box {
      margin-top: 20px;

      .m-footer-app-box {
        display: flex;

        img {
          width: 32px;
          height: 32px;
          margin-right: 16px;
        }
      }

      .m-footer-detail-box {
        display: flex;
        margin: 20px 0px;

        p {
          margin-right: 24px;
          font-size: 12px;
          color: #BEBEBE;
        }
      }
      
      .m-footer-info-box{
        p {
          font-size: 11px;
          color: #BEBEBE;
        }
      }
    }
    
  }
}