.m-practice-wrap {
  position: relative;
  .m-practice-body {
    padding: 20px;
    position: relative;
    .m-practice-body--problem-area {
      .m-problem-chapter-title {
        font-size: 18px;
        font-weight: bold;
        color: #EF0050;
      }
      .m-problem-title,
      .m-solution-title {
        text-align: center;
        margin: 16px 0;
        font-size: 18px;
        font-weight: bold;
      }
      .m-practice-editor,
      .m-solution-editor {
        padding: 0 10px;
        position: relative;
      }
      .m-practice-editor {
        .m-control-btn {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 15px;
          height: 25px;
          cursor: pointer;
          transition: .3s ease;
          &:active {
            opacity: 0.7;
          }
        }
        .m-prev-btn {
          left: -12px;
          background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1615349965505.png');
          background-size: contain;
        }
        .m-next-btn {
          right: -12px;
          background-image: url('https://knotehow-image.s3.ap-northeast-2.amazonaws.com/1615350058275.png');
          background-size: contain;
        }
        .ck-content {
          min-height: 252px !important;
        }
      }
      .ck-editor__top{
        display: none !important;
      }
      .ck-content {
        border: 2px solid #E8E8E8;
        border-radius: 10px;
      }
      .m-practice-body--solution-area {
        .m-solution-title {
          margin-top: 24px;
        }
      }
    }
  }
  .m-practice-menubar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// modal
.m-practice--chapter-modal {
  .ant-modal-content {
    box-shadow: 0px 1px 6px #00000029 !important;
    border-radius: 10px !important;
    .ant-modal-body {
      padding: 8px 16px 12px 16px !important;
      .m-chapter-header {
        font-size: 20px;
        font-weight: 900;
        color: #EF0050;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
      }
      .m-chapter-body {
        margin-bottom: 12px;
        .m-chapter-list {
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
          + .m-chapter-list {
            margin-top: 16px;
          }
        }
        .m-selected-chapter {
          color: #EF0050;
        }
      }
      .m-chapter-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        .m-chapter-prev-arrow,
        .m-chapter-next-arrow {
          margin: 0 16px;
          img {
            width: 7px;
            height: 12px;
          }
        }
        .m-chapter-problem-area {
          display: flex;
          justify-content: center;
          align-items: center;
          p, input {
            font-size: 16px;
            font-weight: bold;
          }
          .m-chapter-problem-leng {
            color: #EF0050;
          }
          input {
            background: #FFFFFF;
            box-shadow: 0px 1px 4px #00000029;
            border-radius: 5px;
            width: 40px;
            height: 24px;
            margin: 0 4px;
            text-align: center;
            border: 0px;
          }
        }
      }
    }
    .ant-modal-footer {
      display: none !important;
    }
  }
}